
cython==0.29.36
numpy>=1.23.0
streamlit==1.24.0  # Update to the latest compatible version
plotly>=5.0.0
seaborn>=0.12.2
ydata-profiling>=4.0.0

pandas
matplotlib==3.3.0
scikit-learn==1.3.0






